body{
    margin: 0;
   
}

.header {
   
}

.boarder{
    background-color: gold;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 2em;
    height: 50px;
    box-shadow: 0 4px 6px ;
}

.todoform{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px ;
    display: flex;
}

.modernInput{
    width: 100%;
    border: none;
    display: block;
    color: black;
    font-size: 16px;
    flex: 1;
    margin-right: 10px;

}

.modernInput:focus{
    outline: none;
}

.modernButton{
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: gold;
    padding: 12px 20px;
    cursor: pointer;
    
}

.list{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px ;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    margin-top: 50px;
}

.itemList{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;

}

.itemName{
    font-weight: bold;
    padding: 20px;

}

.line{
    border: 1px solid #f4f4f4;
}

.deleteButton{
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: gold;
    margin-top: -5px;
    border-radius: 3px;
    cursor: pointer;

}